body{
   background-color: #F1F2F7;
}

img, .card-img-top{
    object-fit: cover;
}

.nav-link{
    font-size: 17px;
    font-weight: bold;
    color: white;
    align-items: center;
}

#menu{
    background-color: #122738;
    color: white ;
    padding-left: 3%;
    padding-right: 3%;
}


#logo{
    align-items: center;
}

#nav-login{
   align-items: right;
}

#nav-signin{
   
}

.fluid-container{
    background-color: #122738;
}

.title{
    color: white;
}

#geotitle{
    color: white;
}

#metitle{
    color: #D60B52;
}

#maincontainer{
    padding-left: 15%;
}

p{
    color: white;
}

.navButton{
    border-radius: 20px;
    background-color: #D60B52;
    width: 193px;
    height: 35px;
    border: 0;
    color: white;
}

#maintitle{
    text-align: center;
}