body{
    background-color: #F1F2F7;
 }
 
 img{
     object-fit: cover;
     
 }
 #mapcard{
    background-color: #F1F2F7;
     border: 0;
 }
 
 .nav-link{
     font-size: 17px;
     font-weight: bold;
     color: white;
     align-items: center;
 }
 
 #menu{
    background-color: #122738;
     color: white ;
     padding-left: 3%;
     padding-right: 3%;
 }
 
 
 #logo{
     align-items: center;
 }
 
 #nav-login{
    align-items: right;
 }
 
 .fluid-container{
     background-color: #122738;
 }
 
 .title{
     color: white;
 }
 
 #geotitle{
     color: white;
 }
 
 #metitle{
     color: #D60B52;
 }
 
 #maincontainer{
     padding-top: 5%;
    padding-left: 10%;
 }
 
 p{
     color: white;
 }
 
 .navButton{
     border-radius: 20px;
     background-color: #D60B52;
     border: 0;
     color: white;
     width: 100px;
     
 }
 
 #maintitle{
     text-align: center;
 }
 
 #subtitle{
     color: white;
 }
 
 #mapdisplay{
     
 }
 
 #featurestitle{
     text-align: center;
     color: #505050;
     padding-top: 10px;
 }
 
 #card{ 
     margin: 30px;
 }
 
 #locationtitle{
     text-align: center;
     color: #505050;
     padding-top: 10px;
 }
 
 #footer{
     background-color: #10364F;
     color: white;    
 }
 
 #homedisplay{
     height: 10px;
 }
 
 #carddisplay{
    height: 209px;
    background-color: white;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 2px 2px 2px 2px #E6E6E6;
    border-left: 9px solid #D60B52;
     
 }
 
 #cardstext{
     text-align: center;
     color: black;
 }
 
 #mapcontainer{
     justify-content: center;
     padding-left: 10%;
     padding-right: 10%;
 }
 
 #features{
     margin-top: 50px;
 }
 
 #banner{
    /*background: linear-gradient(rgb(18,39,46), rgb(18, 30, 56));*/
    background-color: #122738;
     height: 60vh;
 }
 
 section{
     position: relative;
     top: -17px;
     width: 100%;
     height: 10vh;
     background: #F1F2F7;
     overflow: hidden;
 }
 
 section .wave{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100px;
     background: url(../images/wave.png);
     background-size: 1000px 100px;
 }
 
 section .wave.wave1{

     z-index: 1000;
     opacity: 1;
     animation-delay: 0s;
     bottom: 0;
 }  
 
 section .wave.wave2{
     
     z-index: 999;
     opacity: 0.5;
     animation-delay: -5s;
     bottom: 10px;
 }
 
 section .wave.wave3{
     
     z-index: 998;
     opacity: 0.2;
     animation-delay: -2s;
     bottom: 15px;
 }
 
 section .wave.wave4{
     
     z-index: 997;
     opacity: 0.7;
     animation-delay: -5s;
     bottom: 20px;
 }
 
 @keyframes animate{
     0%
     {
         background-position-x: 0;
     }
     100%
     {
         background-position-x: 1000px;
     }
 }
 
 @keyframes animate2{
     0%
     {
         background-position-x: 0;
     }
     100%
     {
         background-position-x: -1000px;
     }
 } 
 
 @keyframes animate3{
     0%
     {
         background-position-x: 0;
     }
     100%
     {
         background-position-x: 1000px;
     }
 } 
 
 @keyframes animate4{
     0%
     {
         background-position-x: 0;
     }
     100%
     {
         background-position-x: -1000px;
     }
 } 
 
 hr{
     border: 1px solid #D60B52;
     border-radius: 20px;
     background-color: #D60B52;
     width: 71%;
 }
.btn-modal{
    width: 35%;
    margin: 9px;
    border-radius: 20px;
    background-color: #D60B52;
    color: white;
}
.form-control{
   border: 0;
   box-shadow: 2px 2px 2px 2px #E6E6E6; 
}
.alert{
    width: 100%;
    border: 0;
}

.upload
{
    border:0px;
    border-radius:19px;
    color: white;
    background-color: #D60B52;
    padding: 8px 20px;
    font-size: 19px;
    font-weight: bold;

}
.file input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
#terms_Register{
    border-radius: 10px;
}
#userPhoto{
    border-radius: 100px;
}
#aboutUs{
    background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
    margin-top: 29px;
}
#aboutUsSectionText{
    padding: 39px;
    background-color: #27889E;
    border-left: 9px solid #D60B52;
    border-radius: 2px;
    
}
#aboutUsSectionImage{
    padding: 39px;
}
#aboutUsText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#abouUsTitle{
    color: white;
    padding-top: 19px;
}
